{% extends 'base.html' %}


{% block content %}
<h2>Artigos Recentes</h2>
<br>
{% for article in articles %}
<article class="article-card">
    <div class="meta-info">
        {% if article.category %}<span class="tag">{{ article.category.name }}</span>{% endif %}
        &bull; {{ article.created_at|date:"d M Y" }}
    </div>
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    <p>{{ article.content|truncatewords:30 }}</p>
</article>
{% empty %}
<p>Nenhum artigo publicado ainda.</p>
{% endfor %}
{% endblock %}
